<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Graduación S25</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    />
    <link rel="icon" href="./images/ghost busters.jpg" />
    <link rel="stylesheet" href="/public/css/index-style.css?v=1" />
  </head>
<body>
    <h1>Home</h1>
    <button onclick="location.href='Login.html'">Registro</button>
</body>
</html>