body {
  font-family: "PB", sans-serif;
  background-image: url(/public/images/Fondo.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  position: relative;
  width: 700px;
  height: 800px;
  background-color: white;
  border: 6px solid black;
  padding: 40px;
  border-radius: 30px;
  box-shadow: 3px 6px 9px black;
}