@font-face {
  font-family: "PBL";
  src: url("/fonts/Poppins-Black.ttf") format("truetype");
}

@font-face {
  font-family: "PB";
  src: url("/fonts/Poppins-Bold.ttf") format("truetype");
}

body {
  font-family: "PBL", sans-serif;
  background-image: url(/public/images/Fondo.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  position: relative;
  width: 700px;
  height: 800px;
  background-color: white;
  border: 6px solid black;
  padding: 40px;
  border-radius: 30px;
  box-shadow: 3px 6px 9px black;
}

.icon::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
  margin-top: -30px;
  font-size: 4.5em;
  color: #1f992a;
  font-style: italic;
}

p {
  color: #1f992a;
  font-size: 30px;
  margin: 20px;
  margin-left: 44px;
  text-shadow: 3px 3px 0 black;
}

.q {
  color: #eed600;
  font-size: 36px;
  margin: 20px;
}

button {
  font-family: "PB";
  background-color: #1f992a;
  color: white;
  padding: 12px 10px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 200;
  font-size: 25px;
  width: 50%;
}

button:hover {
  background-color: black;
  color: #1f992a;
}

.ubi button{
  margin-left: 113px;
  font-size: 22px;
  width: 25%;
}

.home button {
  font-size: 20px;
  width: 7%;
}

@media (max-width: 957px) {
  body {
    background-image: url(/public/images/Fondo2.png);
  }

  .container {
    position: relative;
    width: 280px;
    height: 690px;
    padding: 15px 25px 25px 25px;
  }

  .home button {
    font-size: 10px;
    padding-left: 9px;
    margin-left: -10px;
  }

  .ubi button{
    font-size: 15px;
    margin-left: 59px;
    width: 41.9%;
  }

  h1 {
    font-size: 42px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
  }

  .qya{
    margin-top: -20px;
  }

  p {
    text-shadow: 1.5px 1.5px 0 black;
    font-size: 18px;
    margin: 10px;
    margin-left: 25px;
  }

  .q {
    font-size: 22px;
    margin: 10px;
  }

  button {
    padding: 10px 20px;
    font-size: 25px;
    width: 70%;
  }
}
